<h1 class="mt-4">Cadastro de Orçamento</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">orçamentos</li>
</ol>

<div class="container">
  <form #orcamentoForm="ngForm" novalidate>

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="success == true"
             class="alert alert-success"
             role="alert">
          Orçamento salvo com sucesso!

        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input id="descricao" type="text"
                 class="form-control"
                 placeholder="descricao"
                 [(ngModel)]="orcamento.descricao"
                 name="cep" required/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="valorOrcamento">Valor do Orcamento:</label>
          <input id="valorOrcamento"
                 type="text"
                 class="form-control"
                 placeholder="valor do Orcamento"
                 currencyMask
                 [(ngModel)]="orcamento.valor"
                 name="logradouro"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="dataInicio">Data Início:</label>
          <input id="dataInicio" type="date"
                 class="form-control"
                 placeholder="Data do orçamento"
                 [(ngModel)]="model.dataConverter"
                 [(ngModel)]="orcamento.dataInicio"
                 name="datainicio" required/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="dataFinal">Data Final:</label>
          <input id="dataFinal" type="date" class="form-control"
                 placeholder="Validade do Orcamento"
                 [(ngModel)]="model.dataConverter"
                 [(ngModel)]="orcamento.dataFinal"
                 name="dataFinal"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="departamento">Departamento:</label>
          <input id="departamento" type="text"
                 placeholder="Departamento"
                 class="form-control"
                 [(ngModel)]="orcamento.idDepartamento"
                 name="departamento" required/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button id="salvar"
                type="submit"
                class="btn btn-success"
                *ngIf="!orcamento.id"
                (click)=" salvarOrcamento(orcamentoForm)">
          <i class="fa fa-save" *ngIf="success"></i> Salvar

        </button>
        <button id="atualizar"
                type="submit"
                class="btn btn-primary ml-1"
                *ngIf="orcamento.id"
                [disabled]="orcamentoForm.form.invalid"
                (click)="atualizarOrcamento(orcamentoForm)">
          <i class="fa-solid fa-arrows-rotate"></i> Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltaParaPaginaDeListagem()">
          <i class="fa-solid fa-circle-left"></i> Voltar
        </button>
      </div>
    </div>


  </form>
</div>
