<h1 class="mt-4">Cadastro de endereços</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Endereços</li>
</ol>

<div class="container">
  <form #funcionarioForm="ngForm" (ngSubmit)="onSubmit(funcionarioForm)" novalidate>

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="success == true"
             class="alert alert-success"
             role="alert">
          Endereco salvo com sucesso!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="cep">CEP:</label>
          <input id="cep" type="text"
                 class="form-control"
                 mask="00000-000"
                 [(ngModel)]="endereco.cep"
                 name="cep" (input)="onCepChange()" required/>
          <div>
            <small class="text-danger"
                   *ngIf="funcionarioForm.submitted && !endereco.cep">CEP obrigatório</small>

          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="logradouro">Logradouro:</label>
          <input id="logradouro" type="text" class="form-control"
                 [(ngModel)]="endereco.logradouro"
                 name="logradouro"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="bairro">Bairro:</label>
          <input id="bairro"
                 type="text"
                 class="form-control"
                 [(ngModel)]="endereco.bairro"
                 name="bairro"/>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="estado">Estado: *</label>
          <input id="estado"
                 type="text"
                 class="form-control"
                 name="estado"
                 [(ngModel)]="endereco.estado"/>

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="cidade">Cidade: *</label>
          <input id="cidade"
                 type="text"
                 class="form-control"
                 name="cidade"
                 [(ngModel)]="endereco.cidade"/>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input id="complemento"
                   type="text"
                   class="form-control"
                   [(ngModel)]="endereco.complemento"
                   name="complemento"
                   />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="casa">Casa:</label>
            <input id="casa"
                   type="text"
                   class="form-control"
                   [(ngModel)]="endereco.casa"
                   name="casa" [required]="true"/>
            <div>
              <small class="text-danger"
                     *ngIf="funcionarioForm.submitted && !endereco.casa">Casa obrigatória</small>

          </div>
        </div>
      </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <button type="submit" *ngIf="!endereco.id" class="btn btn-success" >
            <i class="fa fa-save"  *ngIf="success"></i> Salvar
          </button>

          <button type="submit" class="btn btn-primary ml-1" *ngIf="endereco.id">
            <i class="fa-solid fa-arrows-rotate"></i> Atualizar
          </button>

          <button type="button" class="btn btn-danger ml-1" (click)="voltaParaPaginaDeListagem()">
            <i class="fa-solid fa-circle-left"></i> Voltar
          </button>

        </div>
      </div>
  </form>
</div>
